body {
  display: block;
  background-color: white;
  margin: 0;
  vertical-align: top;
}

iframe {
  display: inline-block;
  position: relative;
  height: 800px;
  width: 49%;
  vertical-align: top;
  overflow: hidden;
}

#ttc {
  margin-left: -182px;
  margin-top: -83px;
  width: 750px;
}

#weatherchannel {
  margin-top: -147px;
  height: 1350px;
}
